 <!-- ======= Hero Section ======= -->
 
 <style>
  body {
    background-image: url('assets/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
  <body>
 <section id="hero" class="d-flex flex-column justify-content-center">
 
  
    <div class="container" data-aos="zoom-in" data-aos-delay="10">
     
      <h1>Aysha P </h1>
      <p>I'm Front End Developer & UI UX Designer</p>
      <div class="social-links">
       <!-- <a href=" mailto: ayshapulliyil19@gmail.com">Hire Me....</a>
       
       <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
       
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>--> 
      </div>
     
    </div>
  </section><!-- End Hero -->
</body>