 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p >I'm a Front End Developer and UX/UI Web Designer. I love minimal and brutalist design.  </p>
      </div>

    <!-- <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>--> 

      <!-- Gallery -->
   
<div class="row" data-aos="fade-up" data-aos-delay="200">

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
   
    <img
      src="assets/img/portfolio/ang.png"
      class="w-100 shadow-1-strong rounded mb-4"
      
    />
  
    <img
      src="assets/img/portfolio/wordpress.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
   
    <img
      src="assets/img/portfolio/react.png"
      class="w-100 shadow-1-strong rounded mb-4"
      
    />
  
    <a href="http://shop-now.epizy.com/ecom/" data-gallery="portfolioGallery" class="portfolio-lightbox"  style="color: rgb(9, 8, 8); font-size: 20px;">
      <img
        src="assets/img/portfolio/ecom.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="FRONT END WEBSITE Created Using HTML, CSS, Bootstrap, JS"
      />
      </a>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
   
    <a href="https://ayshapulliyil19.wixsite.com/my-site" data-gallery="portfolioGallery" class="portfolio-lightbox" title="WiX E-com Website" style="color: rgb(9, 8, 8); font-size: 20px; font-family: 'Times New Roman', Times, serif;">
      <img
        src="assets/img/portfolio/wix ecom.png"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="WiX E-COMMERCE WEBSITE"
      />
      </a>
      <a href="https://www.figma.com/proto/BqyO1cmvj3SuP6s4rVKSwX/Projects?node-id=14%3A127&starting-point-node-id=14%3A127" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Figma UI UX Design" style="color: rgb(9, 8, 8); font-size: 20px; font-family: 'Times New Roman', Times, serif;">
        <img
          src="assets/img/portfolio/figma project.png"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="UI UX DESIGN FIGMA"
        /></a>
  </div>


 

 
  
</div>

<!-- Gallery

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
     
         
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/figma project.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>UI UX Design</h4>
             
              <div class="portfolio-links">
                <a href="https://www.figma.com/proto/BqyO1cmvj3SuP6s4rVKSwX/Projects?node-id=14%3A127&starting-point-node-id=14%3A127" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Figma UI UX Design"><i class="bx bx-link"></i></a>
              
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/wix ecom.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>WiX E-Commerce Website</h4>
            
              <div class="portfolio-links">
                <a href="https://ayshapulliyil19.wixsite.com/my-site" data-gallery="portfolioGallery" class="portfolio-lightbox" title="WiX E-com Website"><i class="bx bx-link"></i></a>
               
              </div>
            </div>
          </div>
        </div>

    
     
 <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/ecom.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Front end Website </h4>
              
              <div class="portfolio-links">
                <a href="http://shop-now.epizy.com/ecom/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-link"></i></a>
               
              </div>
            </div>
          </div>
        </div>
      

       <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/wordpress.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Wordpress Website</h4>
             
              <div class="portfolio-links">
                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/react.png" width="80%" height="50%" alt="">
            <div class="portfolio-info">
              <h4>React iOs Mobile App</h4>
              
              <div class="portfolio-links">
                <a href="assets/img/portfolio/" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div> -->

    </div>
  </section><!-- End Portfolio Section -->
