 <!-- ======= Resume Section ======= -->
 <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p> To work in a stimulating environment which provides me with ample opportunities to enhance my skills and knowledge along with contributing to the growth of organization.</p>
      </div>
     
      <div class="row">
        <div class="col-sm-4">
          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Technology</h4>
            <h5>2016 - 2020</h5>
            <p><em>Information Technology</em></p>
            <p> CGPA 8.6</p>
          </div>
          <div class="resume-item">
            <h4>State Board of Higher Secondary</h4>
            <h5>2015 - 2016</h5>
            <p><em>E.M.O Girls Higher Secondary School, Kerala, India </em></p>
            <p>scored 96%</p>
          </div>
          <div class="resume-item">
            <h4>State Board of Secondary School</h4>
            <h5>2014</h5>
            <p><em>Marthoma Higher Secondary School, Kerala, India  </em></p>
            <p>scored 90%</p>
          </div>
      
        </div>
        <div class="col-sm-8">
        <div class="col-lg-6">
          <h3 class="resume-title">Internship &amp; Certificate</h3>
          <div class="resume-item">
            <h4>Front end Development </h4>
           
            <p><em>HTML Online Course from Great Learning. </em></p>
            <ul>
              <li>Learned HTML basics and working.</li>
              <li>Implemented an website using HTNL </li>
             
            </ul>
          </div>
          <div class="resume-item">
            <h4>Figma UI UX Design essentials</h4>
           
            <p><em>Online course from Udemy. </em></p>
            <ul>
              <li>Learned to use UI UX design Figma tool to create beautiful User Interfaces and engaging prototypes.</li>
              <li>Implemented an website using HTML </li>
             
            </ul>
          </div>
          <div class="resume-item">
            <h4>Python for Data Analysis</h4>
           
            <p><em>Online Course from Great Learning.</em></p>
            
          </div>
          
          <div class="resume-item">
            <h4>Fundamental of Digital Marketing </h4>
           
            <p><em>Online Course from Google.</em></p>
            <ul>
              <li>Learned Digital marketing from scratch.</li>
              <li>Included topics like SEO, social marketing , video marketing, SEM and etc.</li>
            </ul>
          </div>
        </div>
        </div>
    </div>
    </div>
  </section><!-- End Resume Section -->
